<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiara.apprumah">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pemda"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.InsertRumah"
            android:label="Tambah Data Rumah"
            android:parentActivityName=".activity.ListRumah">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListRumah" />
        </activity>

        <activity android:name=".activity.InsertJalan"
            android:label="Tambah Data Jalan"
            android:parentActivityName=".activity.ListJalan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListJalan" />
        </activity>

        <activity android:name=".activity.Login"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.DetailJalan"
            android:label="Detail Data Jalan"
            android:parentActivityName=".activity.ListJalan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListJalan" />
        </activity>

        <activity android:name=".activity.ListJalan"
            android:label="Data Jalan"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity android:name=".activity.DetailRumah"
            android:label="Detail Data Rumah"
            android:parentActivityName=".activity.ListRumah">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListRumah" />
        </activity>

        <activity android:name=".activity.ListRumah"
            android:label="Data Rumah"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


    </application>

</manifest>